
  body {
    font-family: 'Montserrat';
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #2c000b;
    font-size: 150%;
  }
main {
  margin-bottom: 40px;
  min-height: 80vh;
}
.hm-gradient {
  background-image: linear-gradient(to top, #800020 0%, #2c000b 80%, #000000 100%);
}

.logo-julia {
  text-align: center;
  opacity: 0.4;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: -1;
}
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
.page-text {
  color: #c8c8c8;
}
.light-text {
  color: #c8c8c8;
}
.light-text:hover{
  color:#6C6C6C;
}
.navbar {
  background-color: #000000;
}
.escaparate {
  width: 100%;
  border-radius: 10%;
}
.izquierda {
  float:left; 
  margin: 20px;
}