
  body {
    font-family: Verdana,Helvetica,sans-serif;
    color:rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #2C1B47;
  }

.hm-gradient {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.navbar .dropdown-menu a:hover {
  color: #616161 !important;
}
.darken-grey-text {
  color: #2E2E2E;
}

  .logo-julia {
    text-align: center;
    opacity: 0.3;
}